
.logo-img{
    width: 10%;
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
    
    }
    body{
        margin: 0;
        padding: 0;
        font-size: 15px;
    }
    
    nav{
        margin: 0;
        overflow:hidden;
        text-align: center;
    }
    
    nav ul{
        margin: 0;
        padding: 0;
    }
    
    nav ul li{
        display: inline-block;
        list-style-type: none;
    }
    
    .nav{
        float: center;
        color: rgb(0, 0, 0);
        display: block;
        line-height: 2em;
        padding: 0.5em 1em;
        text-decoration: none;
        font-size: 150%;
        text-decoration: bold;
        font-weight: bold;
    }
    .bg-div{
        background:rgb(255, 255, 255);
        overflow: hidden;
        
     }
     nav{
        background-color: white;
    }
    .nav:hover{
        text-decoration: underline;
        color: darkblue;
        background-color: rgba(248, 109, 109, 0.542);
        border-radius: 25px;

     }
     @keyframes slideInLeft {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(0);
        }
      }
      nav {
        animation: 1s ease-out 0s 1 slideInLeft;      
      }
      a {
        text-decoration: none;
        color: #fff;
      }
 
.bg-div a.active{
    background-color: rgba(113, 181, 248, 0.624);
    float: center;
    color: rgb(0, 0, 0);
    display: block;
    line-height: 2em;
    padding: 0.5em 1em;
    text-decoration: none;
    font-size: 150%;
    text-decoration: bold;
    font-weight: bold;
    border-radius: 25px;
}




     